# dependencies
/node_modules

# next.js build output
/.next
/out

# production
/build

# local files
.env.local
.env.*.local
/public/uploads
/tmp

# log files
*.log

# Editor/IDE-specific files
.vscode
.idea
*.swp
*.swo
*.iml

# System files
.DS_Store
Thumbs.db

# Small Language Model
unsloth.Q4_K_M.gguf